{% extends 'base.html.twig' %}

{% block title %}MIS-Planner{% endblock %}

    {% block stylesheets %}
        <style>
            body {
                background: #000000;
                background-image:
                        linear-gradient(to right, rgba(0, 0, 0, 30%) 20%, rgba(0, 0, 0, 30%) 100%),
                        url("https://media.starcitizen.tools/thumb/8/8f/Stanton-crusader-yela-orbit-3.8.0.jpg/1920px-Stanton-crusader-yela-orbit-3.8.0.jpg.webp");
                background-size: cover;
                background-repeat: no-repeat, repeat;
                width: 100vw;
                height: 100vh;
            }
        </style>
    {% endblock %}

{% block body %}
    <div class="mt-15 flex items-center justify-center px-4">
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">

            <a href="membres" class="block transform transition-transform duration-300 hover:scale-105">
                <div class="relative bg-blue-700 rounded-2xl overflow-hidden shadow-lg w-64 h-80">

                    <!-- Image de fond -->
                    <img src="{{ asset('assets/membres.png') }}" alt="Carte 1"
                         class="absolute inset-0 w-full h-full object-cover z-0">

                    <!-- Overlay de contenu -->
                    <div class="relative z-10 flex items-center justify-center h-full bg-black/55">
                        <h3 class="text-lg font-bold text-white text-center">Membres</h3>
                    </div>

                </div>
            </a>

            <!-- Carte 2 -->
            <a href="flotte" class="block transform transition-transform duration-300 hover:scale-105">
                <div class="relative bg-blue-700 rounded-2xl overflow-hidden shadow-lg w-64 h-80">

                    <!-- Image de fond -->
                    <img src="{{ asset('assets/flotte.jpg') }}" alt="Carte 1"
                         class="absolute inset-0 w-full h-full object-cover z-0">

                    <!-- Overlay de contenu -->
                    <div class="relative z-10 flex items-center justify-center h-full bg-black/55">
                        <h3 class="text-lg font-bold text-white text-center">Flotte</h3>
                    </div>

                </div>
            </a>

            <!-- Carte 3 -->
            <a href="missions" class="block transform transition-transform duration-300 hover:scale-105">
                <div class="relative bg-blue-700 rounded-2xl overflow-hidden shadow-lg w-64 h-80">

                    <!-- Image de fond -->
                    <img src="{{ asset('assets/missions.png') }}" alt="Carte 1"
                         class="absolute inset-0 w-full h-full object-cover z-0">

                    <!-- Overlay de contenu -->
                    <div class="relative z-10 flex items-center justify-center h-full bg-black/55">
                        <h3 class="text-lg font-bold text-white text-center">Missions</h3>
                    </div>

                </div>
            </a>

        </div>
    </div>
    <div class="mt-15 flex items-center justify-center px-4">
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">

            <!-- Carte 2 -->
            <a href="base" class="block transform transition-transform duration-300 hover:scale-105">
                <div class="relative bg-blue-700 rounded-2xl overflow-hidden shadow-lg w-64 h-80">

                    <!-- Image de fond -->
                    <img src="https://static1.dualshockersimages.com/wordpress/wp-content/uploads/2017/10/StarCitizenPioneer.jpg?q=70&fit=contain&w=1200&h=628&dpr=1" alt="Carte 1"
                         class="absolute inset-0 w-full h-full object-cover z-0">

                    <!-- Overlay de contenu -->
                    <div class="relative z-10 flex items-center justify-center h-full bg-black/55">
                        <h3 class="text-lg font-bold text-white text-center">Base</h3>
                    </div>

                </div>
            </a>

            <!-- Carte 3 -->
            <a href="" class="block transform transition-transform duration-300 hover:scale-105">
                <div class="relative bg-blue-700 rounded-2xl overflow-hidden shadow-lg w-64 h-80">

                    <!-- Image de fond -->
                    <img src="{{ asset('assets/lore.png') }}" alt="Carte 1"
                         class="absolute inset-0 w-full h-full object-cover z-0">

                    <!-- Overlay de contenu -->
                    <div class="relative z-10 flex items-center justify-center h-full bg-black/55">
                        <h3 class="text-lg font-bold text-white text-center">Tips</h3>
                    </div>

                </div>
            </a>
            {% if is_granted('ROLE_ADMIN') %}
            <!-- Carte 4 -->
            <a href="organisation" class="block transform transition-transform duration-300 hover:scale-105">
                <div class="relative bg-grey-900 rounded-2xl overflow-hidden shadow-lg w-64 h-80">

                    <!-- Image de fond -->
                    <img src="{{ asset('assets/MIS.png') }}" alt="Carte 1"
                         class="absolute inset-0 w-full h-full object-cover z-0">

                    <!-- Overlay de contenu -->
                    <div class="relative z-10 flex items-center justify-center h-full bg-black/55">
                        <h3 class="text-lg font-bold text-white text-center">Organisation</h3>
                    </div>

                </div>
            </a>
            {% endif %}
        </div>
    </div>

{% endblock %}
