{% extends 'base.html.twig' %}

{% block title %}Hello MembresController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
    <h1 class="text-3xl font-bold text-white text-center mb-6 mt-10">Liste des membres</h1>
    <a href="membre/add"
       class="ml-25 py-2 px-3 text-sm font-medium rounded-lg border border-transparent bg-green-600 text-white hover:bg-green-700">
        Ajouter un membre
    </a>
    <div class="flex items-center justify-center mt-5">
        <div class="overflow-x-auto rounded-lg shadow-lg">
            <table class="w-[90vw] min-w-full border border-gray-600 text-white" style="background-color: #242970;">
                <thead>
                <tr class="text-left border-b border-gray-600">
                    <th class="px-6 py-3 border-r border-gray-600">Pseudo</th>
                    <th class="px-6 py-3 border-r border-gray-600">Nom</th>
                    <th class="px-6 py-3 border-r border-gray-600">Date d'arrivé</th>
                    <th class="px-6 py-3 border-r border-gray-600">Rang</th>
                    <th class="px-6 py-3 border-r border-gray-600">Actif</th>
                    <th class="px-6 py-3">Action</th>
                </tr>
                </thead>
                <tbody>
                {% for membre in membres %}
                <tr class="border-b border-gray-600" style="background-color: #2c3190;">
                    <td class="px-6 py-4 border-r border-gray-600">{{ membre.pseudo|e }}</td>
                    <td class="px-6 py-4 border-r border-gray-600">{{ membre.nom|e }}</td>
                    <td class="px-6 py-4 border-r border-gray-600">{{ membre.joinDate|date("m/d/Y") }}</td>
                    {% set rank_found = false %}

                    {% for rank in ranks %}
                        {% if membre.rankid == rank.hierachie %}
                            <td class="px-6 py-4 border-r border-gray-600">{{ rank.libelle|e }}</td>
                            {% set rank_found = true %}
                        {% endif %}
                    {% endfor %}

                    {% if not rank_found %}
                        <td class="px-6 py-4 border-r border-gray-600">Unranked</td>
                    {% endif %}
                    <td class="px-6 py-4 border-r border-gray-600">{{ membre.isActif|e }}</td>
                    <td class="px-6 py-4 border-r border-gray-600">
                        <div class="flex gap-2 flex-wrap">
                            <a href="membre/{{ membre.id|e }}"
                               class="py-2 px-3 text-sm font-medium rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700">
                                Détails
                            </a>
                            <a href="membre/del/{{ membre.id|e }}"
                               class="py-2 px-3 text-sm font-medium rounded-lg border border-transparent bg-red-600 text-white hover:bg-red-700">
                                Expulser
                            </a>
                            <a href="membre/edit/{{ membre.id|e }}"
                               class="py-2 px-3 text-sm font-medium rounded-lg border border-transparent bg-green-600 text-white hover:bg-green-700">
                                Modifier
                            </a>
                        </div>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
