{% extends 'base.html.twig' %}

{% block title %}Nouveau Vaisseau{% endblock %}

{% block body %}
    <div class="min-h-screen flex items-start justify-center pt-20">
        <div class="w-full max-w-4xl shadow-lg rounded-xl p-8" style="background-color: #242970;">
            <h1 class="text-2xl font-bold mb-6 text-center text-white">Ajouter un Vaisseau</h1>
            <h2 class="text-2xl font-bold mb-6 text-center text-white">Faites attention à ne pas ajouter un vaisseau déja existant</h2>

            {{ form_start(form) }}
            <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                {{ form_row(form.nom, {
                    label: 'Nom',
                    label_attr: {'class': 'text-white'},
                    'attr': {'class': 'w-full px-4 py-2 border border-gray-300 rounded-md bg-white text-black'}
                }) }}
                {{ form_row(form.marque, {
                    label: "Marque",
                    label_attr: {'class': 'text-white'},
                    'attr': {'class': 'w-full px-4 py-2 border border-gray-300 rounded-md bg-white text-black'}
                }) }}
                {{ form_row(form.sizeCategory, {
                    label: 'Taille',
                    label_attr: {'class': 'text-white'},
                    'attr': {'class': 'w-full px-4 py-2 border border-gray-300 rounded-md bg-white text-black'}
                }) }}

                {{ form_row(form.realeaseDate, {
                    label: 'Date de sortie',
                    label_attr: {'class': 'text-white'},
                    'attr': {'class': 'w-full px-4 py-2 border border-gray-300 rounded-md bg-white text-black'}
                }) }}
                {{ form_row(form.isReleased, {
                    label: "Est sorti",
                    label_attr: {'class': 'text-white'},
                    'attr': {'class': 'w-full px-4 py-2 border border-gray-300 rounded-md bg-white text-black'}
                }) }}
                {{ form_row(form.height, {
                    label: "Hauteur",
                    label_attr: {'class': 'text-white'},
                    'attr': {'class': 'w-full px-4 py-2 border border-gray-300 rounded-md bg-white text-black'}
                }) }}

                {{ form_row(form.width, {
                    label: "Largeur",
                    label_attr: {'class': 'text-white'},
                    'attr': {'class': 'w-full px-4 py-2 border border-gray-300 rounded-md bg-white text-black'}
                }) }}
                {{ form_row(form.length, {
                    label: "Longueur",
                    label_attr: {'class': 'text-white'},
                    'attr': {'class': 'w-full px-4 py-2 border border-gray-300 rounded-md bg-white text-black'}
                }) }}

                {{ form_row(form.SCU, {
                    label: "SCU",
                    label_attr: {'class': 'text-white'},
                    'attr': {'class': 'w-full px-4 py-2 border border-gray-300 rounded-md bg-white text-black'}
                }) }}
                {{ form_row(form.type, {
                    label: "Type",
                    label_attr: {'class': 'text-white'},
                    'attr': {'class': 'w-full px-4 py-2 border border-gray-300 rounded-md bg-white text-black'}
                }) }}
            </div>

            <div class="mt-6 text-center">
                <button class="bg-blue-600 hover:bg-blue-700 text-white font-semibold px-6 py-2 rounded-md transition duration-200">
                    Ajouter
                </button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
