{% extends 'base.html.twig' %}

{% block title %}Vaisseaux{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>
    <h1 class="text-3xl font-bold text-white text-center mb-6 mt-10">Liste des vaisseaux</h1>
    <a href="vaisseaux/add"
       class="ml-25 py-2 px-3 text-sm font-medium rounded-lg border border-transparent bg-green-600 text-white hover:bg-green-700">
        Ajouter un vaisseau
    </a>
    <div class="flex items-center justify-center mt-5">
        <div class="overflow-x-auto rounded-lg shadow-lg">
            <table class="w-[90vw] min-w-full border border-gray-600 text-white" style="background-color: #242970;">
                <thead>
                <tr class="text-left border-b border-gray-600">
                    <th class="px-6 py-3 border-r border-gray-600">Nom</th>
                    <th class="px-6 py-3 border-r border-gray-600">Marque</th>
                    <th class="px-6 py-3 border-r border-gray-600">Taille</th>
                    <th class="px-6 py-3 border-r border-gray-600">Type</th>
                    <th class="px-6 py-3 border-r border-gray-600">Date de sortie</th>
                    <th class="px-6 py-3 border-r border-gray-600">Longueur</th>
                    <th class="px-6 py-3 border-r border-gray-600">Hauteur</th>
                    <th class="px-6 py-3 border-r border-gray-600">Largeur</th>
                    <th class="px-6 py-3 border-r border-gray-600">SCU</th>
                    <th class="px-6 py-3">Action</th>
                </tr>
                </thead>
                <tbody>
                {% for vaisseau in vaisseaux %}
                    <tr class="border-b border-gray-600" style="background-color: #2c3190;">
                        <td class="px-6 py-4 border-r border-gray-600">{{ vaisseau.nom|e }}</td>
                        {% set marque_found = false %}
                        {% for marque in marques %}
                            {% if vaisseau.marque == marque.idMarque %}
                                <td class="px-6 py-4 border-r border-gray-600">{{marque.nom|e }}</td>
                                {% set marque_found = true %}
                            {% endif %}
                        {% endfor %}
                        {% if not marque_found %}
                            <td class="px-6 py-4 border-r border-gray-600">Non Défini</td>
                        {% endif %}
                        {% set size_found = false %}
                        {% for size in sizes %}
                            {% if vaisseau.sizeCategory == size.sizeId %}
                                <td class="px-6 py-4 border-r border-gray-600">{{size.libelle|e }}</td>
                                {% set size_found = true %}
                            {% endif %}
                        {% endfor %}
                        {% if not size_found %}
                            <td class="px-6 py-4 border-r border-gray-600">Non Défini</td>
                        {% endif %}
                        {% set type_found = false %}
                        {% for type in types %}
                            {% if vaisseau.type == type.typeId %}
                                <td class="px-6 py-4 border-r border-gray-600">{{type.libelle|e }}</td>
                                {% set type_found = true %}
                            {% endif %}
                        {% endfor %}
                        {% if not type_found %}
                            <td class="px-6 py-4 border-r border-gray-600">Non Défini</td>
                        {% endif %}
                        <td class="px-6 py-4 border-r border-gray-600">{{ vaisseau.realeaseDate|date("m/d/Y") }}</td>
                        <td class="px-6 py-4 border-r border-gray-600">{{ vaisseau.length|e }}</td>
                        <td class="px-6 py-4 border-r border-gray-600">{{ vaisseau.height|e }}</td>
                        <td class="px-6 py-4 border-r border-gray-600">{{ vaisseau.width|e }}</td>
                        <td class="px-6 py-4 border-r border-gray-600">{{ vaisseau.SCU|e }}</td>

                        <td class="px-6 py-4 border-r border-gray-600">
                            <div class="flex gap-2 flex-wrap">
                                <a href="/organisation/donnees/add{{ vaisseau.id|e }}"
                                   class="py-2 px-3 text-sm font-medium rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700">
                                    Détails
                                </a>
                                <a href="vaisseaux/edit/{{ vaisseau.id|e }}"
                                   class="py-2 px-3 text-sm font-medium rounded-lg border border-transparent bg-green-600 text-white hover:bg-green-700">
                                    Modifier
                                </a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
