{% extends 'base.html.twig' %}

{% block title %}Vaisseaux{% endblock %}

    {% block stylesheets %}
        <style>
            body {
                background-image:
                        linear-gradient(to right, rgba(0, 0, 0, 50%) 20%, rgba(0, 0, 0, 50%) 100%),
                        url("https://media.starcitizen.tools/thumb/b/bd/Hurston-lorville-new-deal-01.jpg/1920px-Hurston-lorville-new-deal-01.jpg.webp");
                background-size: cover;
                background-repeat: no-repeat, repeat;
                width: 100vw;
                height: 100vh;
            }
        </style>
    {% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>
    <h1 class="text-3xl font-bold text-white text-center mb-6 mt-10">Liste des vaisseaux</h1>
    <a href="vaisseaux/add"
       class="ml-25 py-2 px-3 text-sm font-medium rounded-lg border border-transparent bg-green-600 text-white hover:bg-green-700">
        Ajouter un vaisseau
    </a>
    <div class="flex items-center justify-center mt-5">
        <div class="overflow-x-auto rounded-lg shadow-lg">
            <table class="w-[90vw] min-w-full border border-gray-600 text-white" style=""> {# background-color: #242970; #}
                <thead style="background-color: rgba(4, 2, 37, 65%);"> {# background-color: #242970; #}
                <tr class="text-left border-b border-gray-600">
                    <th class="px-6 py-3 border-r border-gray-600">Nom</th>
                    <th class="px-6 py-3 border-r border-gray-600">Marque</th>
                    <th class="px-6 py-3 border-r border-gray-600">Taille</th>
                    <th class="px-6 py-3 border-r border-gray-600">Type</th>
                    <th class="px-6 py-3 border-r border-gray-600">Date de sortie</th>
                    <th class="px-6 py-3 border-r border-gray-600">Longueur</th>
                    <th class="px-6 py-3 border-r border-gray-600">Hauteur</th>
                    <th class="px-6 py-3 border-r border-gray-600">Largeur</th>
                    <th class="px-6 py-3 border-r border-gray-600">SCU</th>
                    <th class="px-6 py-3 border-r border-gray-600">Image</th>
                    <th class="px-6 py-3">Action</th>
                </tr>
                </thead>
                <tbody>
                {% for vaisseau in vaisseaux %}
                    <tr class="border-b border-gray-600" style="background-color: rgba(0, 12, 45, 50%);">
                        <td class="px-6 py-4 border-r border-gray-600">{{ vaisseau.nom|e }}</td>
                        <td class="px-6 py-4 border-r border-gray-600">{{vaisseau.marque.nom|e }}</td>
                        <td class="px-6 py-4 border-r border-gray-600">{{vaisseau.sizeCategory.libelle|e }}</td>
                        <td class="px-6 py-4 border-r border-gray-600">{{vaisseau.type.libelle|e }}</td>
                        <td class="px-6 py-4 border-r border-gray-600">{{ vaisseau.realeaseDate|date("m/d/Y") }}</td>
                        <td class="px-6 py-4 border-r border-gray-600">{{ vaisseau.length|e }}</td>
                        <td class="px-6 py-4 border-r border-gray-600">{{ vaisseau.height|e }}</td>
                        <td class="px-6 py-4 border-r border-gray-600">{{ vaisseau.width|e }}</td>
                        <td class="px-6 py-4 border-r border-gray-600">{{ vaisseau.SCU|e }}</td>
                        <td class="justify-items-center py-2 border-r border-gray-600"><img src="{{ vaisseau.image|e }}" class="max-w-60"></td>

                        <td class="px-6 py-4 border-r border-gray-600">
                            <div class="flex gap-2 flex-wrap">
                                <a href="vaisseaux/{{ vaisseau.id|e }}"
                                   class="py-2 px-3 text-sm font-medium rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700">
                                    Détails
                                </a>
                                <a href="vaisseaux/edit/{{ vaisseau.id|e }}"
                                   class="py-2 px-3 text-sm font-medium rounded-lg border border-transparent bg-green-600 text-white hover:bg-green-700">
                                    Modifier
                                </a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
